<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="startUrl" value="https://en.wikipedia.org"  />
    <add key="maxIteration" value="3"  />
  </appSettings>
  <connectionStrings>
    <add name="MyConnString" connectionString="Server=.;Database=WikiParsingApp;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>