<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0-preview9-19423-04" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.12" targetFramework="net48" />
  <package id="StructureMap" version="4.7.1" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.6.0-preview9.19421.4" targetFramework="net48" />
</packages>